:root {
    --bg-color: #ffffff;
    --text-color: #081b29;
    --accent-color: #00abf0;
    --secondary-bg: #ededed;
}

.dark-mode {
    --bg-color: #081b29;
    --text-color: #ededed;
    --accent-color: #00abf0;
    --secondary-bg: #2c3e50;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: background-color 0.3s, color 0.3s;
}

.navbar {
    background-color: var(--secondary-bg);
    transition: background-color 0.3s;
}

.navbar .nav-link {
    color: var(--text-color);
    transition: color 0.3s;
}

.navbar .nav-link.active, 
.navbar .nav-link:hover {
    color: var(--accent-color);
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1.5s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-icon {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    transition: color 0.3s ease;
}

.btn-icon:hover {
    color: var(--accent-color);
}

#themeIcon {
    transition: transform 0.3s ease;
}
